*.os
*.o
*.pyc
*~
*.old
*.orig
*.gcno
*.gcda
CMakeLists.txt
**/Files.cmake
examples/Files.cmake
ModuleBuild.cmake
CMakeModules/
utility/example
cmake-build-debug
.flake8
.idea
*.xlsx
*.xls
*.csv
*.ipynb_checkpoints
*.swp
*.swo
**/__pycache__
data
*.png
*.zip
*.log
