*.os
*.o
*.pyc
*~
*.old
*.orig
*.gcno
*.gcda
test/CMakeLists.txt
src/CMakeLists.txt
ModuleBuild.cmake
CMakeModules/
benchmark/CMakeLists.txt
bin/CMakeLists.txt
dependency/CMakeLists.txt
examples/CMakeLists.txt
pyext/CMakeLists.txt
utility/CMakeLists.txt
utility/example
*/Files.cmake
cmake-build-debug
.idea
*.xlsx
*.xls
*.csv
*.ipynb_checkpoints
*.swp
*.swo
**/__pycache__
data/sars-cov-2-LiP/*.xls
data/sars-cov-2-ppi
data/genetic-screen
*.png
*.zip
*.log
